.col{
    color:blue
}
.nav-item{
    font-style:bold;
    text-align:center;
}

.bg-body-tertiary{
    background-color: darkorange;
}

.card-text{
    font-size:smaller;
    color:dimgray    
}

.footer{
    font-family: Arial, Helvetica, sans-serif;
    color:dimgray 
  }

.navbar{
    background-color:#f8ac60;
}